body{
    user-select: none;
}
.upload-image{
    overflow: hidden;
    border-radius: 50px;
    opacity: 0.8;
   
}
.upload-image img{
     box-shadow: 3px 10px rgba(27,27,27,0.6)
}
.upload-image:hover{
    transform: scale(1.1)
    
}
.border_{
    border: 3px dotted blue;
}

.text-slide{

    animation: slide 3s forwards 0s linear
}

@keyframes slide{
    0%{
        opacity: 0;
    }
    100%{
        transform: translateY(10px);
        transform: scale(1.2);
        opacity: 1;
    }
}

nav{
    height: 60px;
    background-color: white;
    box-shadow: -2px -2px 8px 0px black;
    background-color: #b3d7ff;

}
nav .content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top:12px
}

.main-page{
    background-image: url('../image/home-2.jpg');
   height: 650px;
  max-width: 100%;

}
.profile-text{
    color: blue;
    font-weight: bold
}
.card{
    box-shadow: 0px 2px 14px 0px #00000059;

}

.update-btn{
    align-content: center;
    display: flex;
    justify-content:center
   
}
.update-btn button{
    color: white;
    font-weight: bold;
    background-color: blue;
    height: 50px;
    width: 200px
    
}

button:hover {
    background-color: white;
    transition: all 0.6s ease-in-out;
    
  
}
.update-btn button:hover{
    color: blue
}
.img-register h3{
    position: absolute;
    top:45%;
    left:0;
    right: 0;
    bottom: 0;
    letter-spacing: 1px
    
}
.title{
    position: relative;
    top:15%;
    border-radius: 10px;
    overflow: hidden
}



.answer{
    display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top:50px
  }